body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

html {
    height: 100%;
}

.frame {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 2px dotted green;
}

.pix {
    /* border: 2px dotted blue; */
    flex: 1;
}

.row {
    /* border: 2px solid red; */
    display: flex;
    flex: 1;
    
}
/* .pix:hover {
    background-color: blue;
} */
